@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');

* > *{
  font-family: 'DM Sans', sans-serif !important;
}
:root {
  --foreground-rgb: 0, 0, 0; 
}
.font-dmsans {
  font-family: 'DM Sans', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.hNHgFW:hover{
  background-color: #c5c5c5 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 10px !important;
}
.MuiTabPanel-root{
padding:0 !important;
}